.tag {
  font-size: 0.625rem;
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.75rem 0.75rem 0.625rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 100px;
  color: var(--text-primary-color);
  font-weight: var(--font-weight-normal);
  background-color: var(--color-transparent);
  text-indent: 3px;
  transition: all 0.2s ease;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: var(--color-transparent-hover);
    color: var(--text-primary-color);
  }
}
